.title {
    font-size: 70px;
    color:#0fab31;
    margin: left 50% right 50%;
    text-decoration: underline;
}

.vboy-buttons {
    color: #23de36;
    background-color: #3023de;
    border-radius: 100px;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
    transition: all 0.5s cubic-bezier(0, -0.07, 0, 0.91);
}

*{font-family: Roboto;}


@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto.ttf);
}

body {

    background-color: #0f0f0f;
    color:#fff;

}


a {

    color:#0fab31;
    transition: all 0.5s cubic-bezier(0, -0.07, 0, 0.91);
    text-decoration: none;
}

a:hover {

    color:#ffffff;
    text-decoration: none;
}

.footer{

    bottom:-12px;
    position:absolute;
}

.big{

    font-size:20px;

}

.arial{
    font-family: Arial;
}

@font-face {
    font-family: Arial;
    src: url(../fonts/ARIAL.woff);
}

a.menu{
    margin-left: 14px;
}

